#header{
    display: flex;
    position:relative;
    justify-content: space-between;
    width:100%;
}
.toolbar-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#footer{
    position: fixed;
    /* justify-content: flex-end; */
    justify-items: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    bottom: 0;
    border: 2px solid red;
    width:100%;
    z-index: 50;
}